.feature-wrapper {
    background-color: var(--black);
    color: var(--white);
    .feature-content {
        width: 80vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .title-head {
            display: flex;
            justify-content: space-between;
            button {
                padding: 0 1rem;
            }
        }
        .contentarea {
            display: flex;
            gap: 1.3rem;
            .card {
                width: 25%;
                img {
                    width: 100%;
                }
            }
        }
    }
}