.Navbar {
    // background-color: var(--red);
    background: linear-gradient(358deg, rgba(255,0,0,1) 22%, rgba(0,0,0,1) 43%, rgba(3,62,34,1) 63%, rgba(156,0,0,1) 90%);
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        margin: auto;

        .nav-items {
            display: flex;
            align-items: center;
            justify-content: start;
            .home-icon {
                height: 100%;
            }
            // .home-icon:hover {
            //     background-color: rgb(105, 228, 187);
            // }
            a {
                text-decoration: none;
                color: var(--white);
                font-weight: bold;
                padding: 1rem;
                font-size: 1.2rem;
            }
            .nav-link:hover {
                background-color: var(--green);
            }
        }

        .nav-right {
            button {
                padding: 1rem;
                border: none;
                height: 100%;
            }
            button:hover {
                background-color: rgb(24, 77, 59);
                color: white;
            }
        }
    }
}