@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #0c865e;
  --red: #b80505;
  --white: #ffffff;
  --black: #1a1918;
  --dark: #000000;
  --grey: #737271;
  --lightGrey: #e6e6e6;
}
