* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #0C865E;
    --red: #B80505;
    --white: #ffffff;
    --black: #1a1918;
    --dark: #000000;
    --grey:  #737271;
    --lightGrey: #e6e6e6;
}