.banner-wrapper {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-news {
        display: flex;
        flex-direction: column;
        align-items: center;
        .news-title h2 {
            font-size: 4rem;
            padding: 1rem;
        }
        .news-content {
            display: flex;
            gap: 3rem;
            padding-bottom: 3rem;
            p {
                display: flex;
                align-items: center;
                gap: 0.3rem;
                font-weight: bold;
            }
        }
    }
    .banner-news {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
        .news-title h2 {
            font-size: 4rem;
            padding: 1rem;
        }
        .news-content {
            display: flex;
            gap: 3rem;
            padding-bottom: 2rem;
            p {
                display: flex;
                align-items: center;
                gap: 0.3rem;
                font-weight: bold;
            }
        }
        .banner-img {
            // width: 80vw;
            img {
                width:  100%;
            }
        }
        .news-info {
            padding: 1rem 4rem;
            p {
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }
}