.news-title h2 {
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
}
.auth-time {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 3rem;
}
.banner-wrapper {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-news {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-news {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
        .banner-img {
            max-height: 80vh;
            overflow: hidden;
            img {
                width:  100%;
                background-size: cover;
            }
        }
        .news-info {
            padding: 1rem 4rem;
            p {
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }
}