.home {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 80vw;
    margin: auto;
}
.banner-wrapper, .news-wrapper, .economy-wrapper, .science-latest, .politics-sports, .entertain-rochak, .edu-tourism, .event-wrapper, .health-wrapper {
    padding: 2rem;
    background-color: var(--white);
    border-radius: 0.5rem;
}

@media only screen and (max-width: 999px) {
    .home {
        width: 90vw;
        
    }
}

@media only screen and (max-width: 640px) {
    .home {
        width: 100vw;

    }
}