.blog-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .title-head {
        display: flex;
        justify-content: space-between;
        button {
            padding: 0 1rem;
        }
    }
    .news-content {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        .card {
            width: 25%;
            img {
                padding: 2rem;
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}