.event-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .contentarea {
        display: flex;
        gap: 2rem;
        .card {
            position: relative;
            width: 25%;
            overflow: hidden;
            img {
                height: 100%;
            }
            h3 {
                position: absolute;
                bottom: 2rem;
                color: var(--white);
                padding: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .event-wrapper {
        .contentarea {
            flex-wrap: wrap;
            justify-content: space-between;
            .card {
                width: 47%;
                img {
                }
                h3 {
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .event-wrapper {
        .contentarea {
            flex-direction: column;
            .card {
                width: 100%;
                img {
                }
                h3 {
                }
            }
        }
    }
}