.science-latest {
    display: flex;
    gap: 2rem;
    .science-news {
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .news-content {
            display: flex;
            gap: 1.7rem;
            width: 100%;
            .more-news {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 35%;
                .col {
                    display: flex;
                    width: 100%;
                    gap: 1.5rem;
                    img {
                        width: 25%;
                        height: auto;
                        object-fit: fill;
                    }
                    h2 {
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                }
            }
            .banner-news {
                width: 65%;
                .feature-img {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .latest-news {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .news-content {
            display: flex;
            flex-direction: column;
            gap: 1.7rem;
            .col {
                display: flex;
                gap: 1.3rem;
                img {
                    width: 34%;
                }
                h2 {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .science-latest {flex-direction: column;
        .science-news {
            width: 100%;
            .news-content {
                .more-news {
                    width: 50%;
                    .col {
                        img {
                        }
                        h2 {
                        }
                    }
                }
                .banner-news {
                    width: 50%;
                    .feature-img {
                        img {
                        }
                    }
                }
            }
        }
        .latest-news {
            width: 100%;
            .news-content {
                .col {
                    img {
                    }
                    h2 {
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .science-latest {
        display: flex;
        flex-direction: column;
        .science-news {
            width: 100%;
            .news-content {
                display: flex;
                flex-direction: column;
                .more-news {
                    width: 100%;
                    .col {
                        img {
                        }
                        h2 {
                        }
                    }
                }
                .banner-news {
                    width: 100%;
                    text-align: center;
                    .feature-img {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .latest-news {
            width: 100%;
            .news-content {
                .col {
                    img {
                    }
                    h2 {
                    }
                }
            }
        }
    }
}