.video-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .title-head {}
    .contentarea {
        display: flex;
        gap: 2rem;
        .img {
            img {
                width: 100%;
                height: 80%;
            }
        }
    }
}